@import url('https://fonts.googleapis.com/css?family=Yeon+Sung|ZCOOL+QingKe+HuangYou&display=swap');

*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    
}

h1 {
    text-align: center;
    
}

.container {
    min-height: 80.5vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.container h1{
    font-family: 'ZCOOL QingKe HuangYou';
    font-size: 34px;
}

.myForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 15px;
}

.myForm textarea{
    font-weight: bold;
}

.myInput{
    font-size: 16px;
    width: 40%;
    padding: 9px;
    margin: 8px;
    border: 2px solid #9d8e8e;
    border-radius: 12px;
    outline: none;
}

.btn{
    padding: 8px 16px;
    font-size: 18px;
    border: 2px solid black;
    border-radius: 10px;
    color: white;
    background-color: #4135d2;
    cursor: pointer;
    outline: none;
    margin: 26px;
}